*{
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0;
}


body{
    background-image: linear-gradient(to right,#181942, #3e3f8a );
    color: #fff;
    margin-left: 135px;
    margin-right: 135px;
}

a{
    text-decoration: none;
    color: #fff;
}

h1{
    font-weight: 300;
    margin-bottom: 30px;
}

h4{
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

p{
    margin-bottom: 30px;
}

.font-barlow-400{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    opacity: 50%;
    line-height: 32px;
}

.font-barlow-700{
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.font-barlow-condensed-300{
    font-family: 'Barlow Condensed';
    font-weight: 300;

}

.main-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Barlow', sans-serif;
}

.transparent-text{
    opacity: 50%;
}

/*HEADER*/
header{
    width: 100%;
    margin-top: 5px;

}

nav{
    display: flex;
    margin-bottom: 135px;
    align-items: center;

}

.header-list-container{
    margin: auto;
}


#header-logo{
    font-size: 40px;
    line-height: 40px;
}

#header-list{
    display: flex;
    list-style: none;
    gap: 50px;
    padding:0;
    margin: 0 auto;
    font-size: 16px;
}

.header-list-item{

}

.header-list-link{
    text-decoration: none;
    color: #fff;
}

#header-contact-button{
    display: flex;
    border: 1px solid rgba(255,255,255, 0.3);
    width:140px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}


.toggle-button{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.8rem;
    height: 1.3rem;
    margin-left: auto;

}

.toggle-button .bar{
    height:.18rem;
    width:100%;
    background-color: white;
    border-radius: .625rem;

}



/*SECTION 1*/

#section-1-gamedevelopment{
    display: flex;
    margin-bottom: 150px
}

#section-1-text-container{
    /*padding-right: 100px;*/
    width: 50%;
}

#section-1-h1{
    font-size: 72px;
    line-height: 80px ;
}

#section-1-img{
    background-color: transparent;
    width: 100%;
    max-width: 570px;
    height: auto
}




#section-1-text-container{
 
}

#section-1-text-btn-container{
    display: flex;
}

#section-1-portfolio-btn{
    display:flex;
    background-color: #6357F6;
    width: 154px;
    height: 48px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

#section-1-play-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-image: linear-gradient(to right,#E6606C,#6357F6 );
    margin-right: 15px;
   /* border: 2px solid rgba(255, 255, 255, 0.078);*/
}

#section-1-play-btn-symbol{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 13.9px;
    border-color: transparent transparent transparent #ffffff;
}

#section-1-play-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-1-img-container{
    width: 50%;
    text-align: center;
}

/*SECTION 2*/


#section-2-about-us{
    display: flex;
    margin-bottom: 150px;
}

#section-2-img-container{
    width: 50%;
}

#section-2-img{
    width: 100%;
    max-width: 700px;
    height: auto
}

#section-2-text-container{
    width: 50%;
}

#section-2-h1{
    font-size: 56px;
    line-height: 64px;
}

#section-2-our-principles-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 48px;
    border: 1px solid rgba(255,255,255, 0.3); 
    border-radius: 8px
}

/*SECTION 3*/

#section-3-game-portfolio{
    margin-bottom: 150px;
}

.section-3-container-border{
    border: 2px solid rgba(255,255,255, 0.078);
    border-radius: 20px;
    box-shadow: 0px 24px 48px rgba(0, 1, 44, 0.157184);
}

#section-3-img-container{
}

#section-3-text-container{
    text-align: center;
    /*margin-left: 300px;
    margin-right: 300px;*/
}

#section-3-img-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 75px;
}

#section-3-img-big-container{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-right: 35px;
}

#section-3-img-small-wrapper{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#section-3-img-container img{
    width: 100%;
    height: auto;
}

#section-3-img-small-wrapper{
    display: flex;
    flex-direction: column;
}

#section-3-img-small-wrapper img{
    width: 100%;
    height: auto;
}

#section-3-small-img-2{
    margin-top: 5%;
}



.img-big-info{
    display: flex;

}

.img-big-info-text{
    padding-left: 45px;
    padding-top: 40px
}

.img-big-info h1{
    font-size: 40px;
}

.img-small-info{
    display: flex;

}

.img-small-info-text{
    padding-left: 32px;
    padding-top: 20px;
}

#section-3-img-container h4{
    letter-spacing: normal;
}

.img-small-info h1{
    font-size: 24px;
}

.img-small-info h4{
    margin-bottom: 12px;
}

.img-big-info h4{
    margin-bottom: 14px;
}

.section-3-download-button{
    align-self: center;
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 10%;
    background-color: #6357F6;
    padding: 15px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.section-3-download-button img{
}


#section-3-watch-all-button-container{
}

#section-3-watch-all-button{
    display: flex;
    border: 1px solid rgba(255,255,255, 0.3);
    width:170px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 8px;
}

/* SECTION 4 */

#inner-heaxgon-ctn{
    width: 150px;
    height: 150px;
    background-color: green;
    clip-path: url("#path-hex");
}



/* SECTION 5 */

#section-5-creation-process{
    margin-bottom: 150px;
}

#section-5-text-container{
    text-align: center;
}

#section-5-slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.section-5-slider-img{
    display: none;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.section-5-slider-button{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(255,255,255, 0.08);
    border-radius: 50%;
    background-image: linear-gradient(#2B2D66,#4D4F95);
}

#section-5-slider-button-container{
    display: flex;
    justify-content: center;
    gap: 16px;
}

#section-5-slider-img-container{
    position: relative;
    width: 770px; 
    height: auto;
    text-align: center;
    margin-bottom: 20px;
}

.section-5-slider-button-choosed{
    background-image: linear-gradient(to right,#E6606C, #6357F6);
}

#section-5-slider-click-area-left{
    position:absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    z-index: 100;

}

#section-5-slider-click-area-right{
    position:absolute;
    left: 70%;
    top: 0;
    width: 30%;
    height: 100%;
    z-index: 100;
}


#section-5-slider-overlay{
    background-color: #fff;
    color: black;
    width: 270px;
    height: 352px;
    position: absolute;
    left: -15%;
    top: 15%;
    text-align: left;
    border-radius: 15px;
    padding: 15px
}

/* SECTION 6*/

#section-6-some-numbers{
    margin-bottom: 150px;
}

#section-6-text-container{
    text-align: center;
}

#section-6-boxes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.section-6-box{
    background-image: linear-gradient(to top,#2B2D66, #4D4F95);
    border-radius: 15px;
    width: 220px ;
    height: 128px;
    padding-left: 20px;
    padding-top: 20px;
    transition: all 300ms;
    /*margin: 16px 0;*/
}

.section-6-box:hover{
    background-image: linear-gradient(#E6606C, #6357F6);
    width: 236px ;
    height: 144px;
    /*margin: 0 0;*/
}



/* SECTION 7 */

#section-7-our-services{
    display: flex;
    margin-bottom: 150px;
}

#section-7-img-container{
    width: 50%;
}

#section-7-text-container{
    width: 50%;
}

#section-7-img{
    width: 100%;
    max-width: 700px;
    height: auto
}

#section-7-hexagon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 9.375em;
    height: 5.4128em;
    background-color: transparent;
    border-radius: .5em / 1em;
    background-image: linear-gradient(to right,#2B2D66, #4D4F95);
    /* margin-top: 75px; */
}

#section-7-hexagon::before, #section-7-hexagon::after{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: inherit;
    border-radius: inherit;

}

#section-7-hexagon::before{
    transform: rotate(60deg);
    background-image: linear-gradient(to top right,#2B2D66, #4D4F95);

}

#section-7-hexagon::after{
    transform: rotate(-60deg);
    background-image: linear-gradient(to bottom right,#2B2D66, #4D4F95);

}

#section-7-hexagon-container{
    display: flex;
    margin-top: 75px;
}

#section-7-hexagon-text{
    padding-left: 30px;
    margin: auto 0;
    text-align: left;
}

#section-7-hexagon-text p{
    margin: 0;
}



/* #section-7-hexagon-small{
    position:relative;
    width: 7.505em;
    height: 13em;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-radius: 3px;
    border-top: 5px solid white;
    border-bottom: 5px solid white



}

#section-7-hexagon-small::before, #section-7-hexagon-small::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: inherit;
    border-radius: inherit;
    border: 5px solid white;
    z-index: -1;
    
    
    
}

#section-7-hexagon-small::before{
    transform: rotate(60deg);
}

#section-7-hexagon-small::after{
    transform: rotate(-60deg);
} */





#section-7-heaxagon-img-diamond{
    z-index: 100;
    /* transform: rotate(-90deg); */
    width: 80px;
    height: auto;

}


/* SECTION 8 */

#section-8-game-events{
    margin-bottom: 150px;
}

#section-8-text-container{
    text-align: center;
}

#section-8-panels-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

.section-8-panel-info{
    padding-left: 32px;
    padding-top: 20px;
    background-image: linear-gradient(#2B2D66, #4D4F95);
margin:0;
padding-bottom: 30px;
height: 100%;
}

.section-8-panel-info h1{
    font-size: 24px;
}

.section-8-panel-info h4{
    letter-spacing: normal;
}



.section-8-panel{
    border: 2px solid rgba(255,255,255, 0.078);
    border-radius: 20px;
    box-shadow: 0px 24px 48px rgba(0, 1, 44, 0.157184);
    margin:20px;
    overflow: hidden;
    align-self: stretch;
    position: relative;
}

.section-8-panel-img{
    width: 100%;
    height: auto;
}

.section-8-panel-overlay{
    position: absolute;
    top: 15px;
    left: 15px;
    background-image: linear-gradient(to right, #E6606C,#6357F6  );
    display: flex;
    width: auto;
    padding: 5px;
    border-radius: 3px;
    align-items: center;

}

.section-8-panel-overlay p{
    margin: 0;
    padding-left: 3px;
}

.section-8-shape-time{
    max-width: 100%;
}


#section-8-all-events-button{
    display: flex;
    border: 1px solid rgba(255,255,255, 0.3);
    width:170px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 8px;
}

/* SECTION 9*/

#section-9-reviews{
    display: flex;
    margin-bottom: 150px;
}

#section-9-text-container{
    width: 50%;
    margin-right: 50px;
}

#section-9-review-panel{
    position: relative;
    width: 50%;
    background-image: linear-gradient(#4D4F95 , #2B2D66);
    padding: 25px;
    border: 2px solid rgba(255,255,255, 0.078);
    border-radius: 15px;
}

#section-9-quote-marks{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30px;
    right: -50px;
}

.star{
    position: absolute;
    left: 0;
}

#section-9-review-text{
    margin-top: 50px;
}

#section-9-text-container h1{
    font-size: 56px;
    line-height: 64px ;
}

#section-9-review-author{
    font-size: 24px;
    margin-bottom:0 
}

#section-9-review-author-add{
    font-size: 16px;
}

/* SECTION 10*/

#section-10-our-awards{
    text-align: center;
    margin-bottom: 150px;
}

/* #section-10-our-awards h4{
    font-size: 16px;
} */

#section-10-logo-container{
    display: flex;
    justify-content: space-evenly;
}


/* SECTION 11*/

#section-11-our-blog{
    margin-bottom: 150px;

}

#section-11-text-container{
    text-align: center;
}


#section-11-panels-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

.section-11-panel-info{
    padding-left: 32px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 50px;
    background-image: linear-gradient(#2B2D66, #4D4F95);
    margin:0;
    
    height: 100%;
}

.section-11-panel-info h1{
    font-size: 24px;
}

.section-11-panel-info h4{
    letter-spacing: normal;
}



.section-11-panel{
    border: 2px solid rgba(255,255,255, 0.078);
    border-radius: 20px;
    box-shadow: 0px 24px 48px rgba(0, 1, 44, 0.157184);
    margin:20px;
    overflow: hidden;
    align-self: stretch;
}

.section-11-panel img{
    width: 100%;
    height: auto;
}

#section-11-see-more-button{
    display: flex;
    border: 1px solid rgba(255,255,255, 0.3);
    width:170px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 8px;
}

/* SECTION 12*/

#section-12-contact{
    background-image: linear-gradient(to right,#E6606C, #6357F6);
    
    display: flex;
    border: 2px solid rgba(255,255,255, 0.078); 
    border-radius: 20px;
    margin-bottom: 150px;
}

#section-12-text{
    width: 45%;
    margin: 60px
}

#section-12-button-container{
    width: 55%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(images/pic_section_12_background_symbols.png);
   background-repeat: no-repeat;
   background-position: center;
}


#section-12-button{
    background-color: #E6606C;
    display: flex;
    border: 1px solid rgba(255,255,255, 0.3);
    width:170px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 70px;
}


/* FOOTER*/

footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    margin-left: 35px;
    margin-right: 35px;

}

#footer-logo{
    font-size: 40px;
}

.footer-list{
    list-style: none;
    padding: 0;
}

#footer-button-container{
    display: flex;
    gap: 5px;
}

.footer-button{
    background-color:#6357F6 ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FOOTER 2*/

#footer-2{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

#footer-2 div{
    font-size: 16px;

}

#footer-2-copyright{
    margin-right: auto;
    margin-left: 0px;
}

.footer-2-margin{
    margin-left: 40px;
}


/* MOBILE */

@media (max-width: 1000px) {
    
    body{
        margin-left: 20px;
        margin-right: 20px;
    }



    /* HEADER */


    nav{
        margin-bottom: 50px;
    }
 
    .toggle-button{
        display: flex;
    }

    .header-list-container{
        display: none;
        /* top: 5.3rem;
        
        height: 32rem; */
        top: 50px;
        left: 0;
        right: 0;
        position: absolute;
        padding-right: 20px;
        background-color: transparent;
        /* background-image: linear-gradient(to right,#181942, #3e3f8a ); */
        /* transition: all 2s; */
    }


    

    

    .header-list-container ul{
        flex-direction: column;
        width: 100%;
    }

    .header-list-container li{
        text-align: end;
    }


    

    .header-list-container.active{
        display: flex;
    }


    #header-list{
        gap: 20px;
    }
    
    #header-contact-button{
        display: none;
    }











    /* SECTION 1*/

    #section-1-gamedevelopment{
        flex-direction: column-reverse;

    }

    #section-1-text-container{
        width: 100%;
    }

    #section-1-text-btn-container{
        /* justify-content: center; */
    }
    
    #section-1-img-container{
        width: 100%;
    
    }

    #section-1-img.active{
        opacity: 0;    
    }

    /* SECTION 2 */

    #section-2-about-us{
        display: block;
    }

    #section-2-text-container{
        width: 100%;
    }

    #section-2-img-container{
        width: 100%;
        justify-content: center;
    }


    /* SECTION 3*/

    #section-3-game-portfolio{
    }

    #section-3-img-container{
        display: block;
        /* text-align: center; */
        margin-left: auto;
        margin-right: auto;
    }

    #section-3-img-big-container{
        padding: 0;
    }


    
    #section-3-img-big-container{
        
      margin-right: 0;
    }
    
  
    
    #section-3-img-container img{
        width: 100%;
        height: auto;
    }
    
    #section-3-img-small-wrapper{
        display: flex;
        flex-direction: column;
    }
    
    #section-3-img-small-wrapper img{
        width: 100%;
        height: auto;
    }
    
    #section-3-small-img-2{
        margin-top: 5%;
    }
    
    
    .img-big-info-text{
        padding-left: 32px;
        padding-top: 20px;
    }
    
    .img-big-info h1{
        font-size: 24px;
    }   
           
    
    .img-big-info h4{
        margin-bottom: 12px;
    }
    
    .section-3-download-button{
        align-self: center;
        justify-self: flex-end;
        margin-left: auto;
        margin-right: 10%;
        background-color: #6357F6;
        padding: 15px;
        border-radius: 50%;
        width: 55px;
        height: 55px;
    }


    /* SECTION 5 */

    #section-5-slider-img-container{
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    #section-5-slider-overlay{
        position: absolute;
        top: 150%;
        left: 50%; 
        transform: translate(-50%, -50%);
        min-width: 200px;
        max-width: 290px;
        width: auto;
    }


    /* SECTION 6*/

    #section-6-boxes-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .section-6-box{
        background-image: linear-gradient(to top,#2B2D66, #4D4F95);
        border-radius: 15px;
        width: 220px ;
        height: 128px;
        padding-left: 20px;
        padding-top: 20px;
        transition: all 300ms;
        /*margin: 16px 0;*/
    }

    /* SECTION 7*/

    #section-7-our-services{
        display: block;
    }

    #section-7-img-container{
        width: 100%;
    }

    #section-7-text-container{
        width: 100%;
    }


    /* SECTION 8*/

    #section-8-panels-container{
        display: block;
    }


    /* SECTION 9*/

    #section-9-reviews{
        display: block;
    }
    
    #section-9-text-container{
        width: 100%;
    }

    #section-9-review-panel{
        width: 100%;
        padding-top: 60px;
    }

   

    /* SECTION 10*/

    #section-10-logo-container{
        flex-wrap: wrap;
    }

    #section-10-logo-container img{
        margin-bottom: 15px;
    }

    /* SECTION 11 */

    #section-11-panels-container{
        display: block;
    }


    /* SECTION 12*/

    #section-12-contact{
    background-image: url(images/pic_section_12_background_symbols.png), linear-gradient(to right,#E6606C, #6357F6);
    background-position: right bottom;   
    background-repeat: no-repeat;
    display: block;
    border: 2px solid rgba(255,255,255, 0.078); 
    border-radius: 20px;
    margin-bottom: 150px;
    padding: 20px;
}

#section-12-text{
    width: auto;
    margin: 0;
}

#section-12-button-container{
    width: auto;
    display: block;
    background-image: none;
   
}


#section-12-button{
    background-color: #E6606C;
    display: flex;
    border: 1px solid rgba(255,255,255, 0.3);
    width:170px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 70px;
}

    #section-12-text p{
     
        font-size: 16px;
    }



    /* FOOTER */

    footer ul{
        margin-bottom: 30px;
    }

    

    footer{
        display: block;
        text-align: center;
    }

    #footer-button-container{
        justify-content: center;    
    }


    /* FOOTER 2*/

    #footer-2{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer-2-margin{
        margin: 0;
    }

}